@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide {
   overflow-y: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.scroll-hide::-webkit-scrollbar {
   display: none;
}
